.checkSty_projectInfo {
    float: left;
}

.tags {
    display: inline-block;
    padding: 4px 6px;
    color: #777;
    vertical-align: middle;
    border: none;
    width: auto;
    max-width: 60%;
    margin-left: 8px;
}

.tag {
    max-width: 200px;
    outline: none;
}

.operate_proInfo {
    position: absolute;
    right: 100px;
    z-index: 100;
}

/* .user-info {
    max-width: 150px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    line-height: 15px;
    position: relative;
    top: 14px;
} */

#label_Add {
    padding: 2px 5px;
    vertical-align: top;
}

.modal_all,
.modal_map,
.modal_preview {
    display: none;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.modal_map .modal-content {
    padding: 10px;
}

/* .modal-dialog {
    margin: 0 auto;
}

.bootbox-body {
    font-size: 18px;
    margin-top: 25px;
    text-align: center;
}

.modal-content {
    padding: 30px 50px;
}

.modal-footer {
    margin-top: 20px;
}

.close {
    font-size: 32px;
} */

.pro_lable_list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.pro_lable_list li {
    float: left;
    background-color: #9ec897;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

.point {
    background-color: #91B8D0 !important;
}

/* 已选中 */

.pro_lable_def {
    background-color: #eeeeee !important;
    color: #999999 !important;
}

.map_sty {
    margin-left: 5px;
    margin-top: 3px;
    cursor: pointer;
}

/* 地图 */

#allmap {
    width: 100%;
    height: 400px;
    overflow: hidden;
    font-family: "微软雅黑";
    position: relative;
    z-index: 1000;
    margin-top: 15px;
}

.pro_province,
.pro_city,
.pro_area {
    display: inline-block;
    width: 120px !important;
}

/* 预览显示 */

/* .modal_preview {
    display: block;
} */
.preBackImg {
    background: url("../../images/phone@3x.png") no-repeat;
    background-size: 100% 100%;
    width: 310px;
    height: 600px;
    margin: 0 auto;
}

.scanShowAll {
    background-color: #F0F0F0;
    width: 254px;
    height: 446px;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.show_UpImg {
    width: auto;
    height: auto;
    max-width: 180px;
    max-height: 180px;
}

.scanShowDiv {
    width: 100%;
    background-color: white;
    font-size: 12px;
}
.scanShowDiv>div{
    margin-bottom: 10px;
}
.scanShowDiv ul {
    margin: 0;
    padding: 0;
}
.scanShowDiv ul li{
    list-style: none;
    float: left;
    margin-right: 5px;
}
.proName span:nth-of-type(1) {
    max-width: 170px;
    overflow: hidden;
    display: inline-block;
}
.proName span:nth-of-type(2) {
    float: right;
    color: #2795EE;
}

.proTab {
    overflow: hidden;
}

.proTab ul {
    float: left;
}

.proTab div:nth-of-type(2) {
    float: right;
}

.proTab ul li {
    background-color: #D7F3FF;
    color: #2795EE;
    
}

.proTab img {
    height: 12px;
}

.proTabT {
    overflow: hidden;
}

.proTabT ul li {
    border: 1px solid #999;
}