.checkSty_projectInfo {
    float: left;
}

.tags {
    display: inline-block;
    padding: 4px 6px;
    color: #777;
    vertical-align: middle;
    border: none;
    width: auto;
    max-width: 60%;
    margin-left: 8px;
}

.tag {
    max-width: 200px;
    outline: none;
}

.operate_proInfo {
    position: absolute;
    right: 100px;
    z-index: 100;
}

.user-info {
    max-width: 150px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    line-height: 15px;
    position: relative;
    top: 14px;
}
#label_Add{
    padding: 2px 5px;
    vertical-align: top;
}

